apiVersion: v1
kind: Pod
metadata:
  name: hostpath-pod
spec:
  containers:
    - name: analyzer
      image: unprivileged-container:latest
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - name: host-root
          mountPath: /host
      command: ["/bin/bash", "-c", "sleep 3600"]
  volumes:
    - name: host-root
      hostPath:
        path: /
        type: Directory
