apiVersion: v1
kind: Pod
metadata:
  name: privileged-pod
spec:
  containers:
    - name: analyzer
      image: unprivileged-container:latest
      imagePullPolicy: IfNotPresent
      securityContext:
        privileged: true
      command: ["/bin/bash", "-c", "sleep 3600"]
